<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
  <title>À propos</title>
</head>
<body>
  <h1>À propos</h1>
  <p>Auteur : <%= auteur %></p>
  <p>Date : <%= date %></p>
</body>
</html>
